.title {
  display: flex;
  font-size: 1.4em;
  color: var(--ion-text-color);
}

.voter {
  margin: -8px;
}

ion-buttons {
  margin-top: 20px;
}

.synopsis {
  white-space: pre-line;
}

@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    align-items: stretch;
    min-height: 300px;
  }

  .poster-wrapper {
    flex: 0 1 auto;
    min-height: 100%;
    display: flex;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    width: 212px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
  }

  .poster {
    display: none;
  }

  ion-card-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  ion-card-header {
    display: flex;
  }

  .center-text {
    margin: auto;
  }

  .spacer {
    flex: 1 1 auto;
  }

  ion-buttons {
    display: flex;
    flex-direction: row-reverse;
  }

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  ion-card-header {
    .chips {
      margin: 15px 0 0 0;

      ion-chip:first-child {
        margin-left: 0;
      }
    }
  }

  .poster {
    display: block;
    width: 100%;
  }

  ion-buttons {
    display: flex;
    flex-direction: row-reverse;

    ion-button {
      flex: 1 1 auto;
    }
  }
}
