<ion-card>
  <div class="container">
    <div
      class="poster-wrapper"
      [style.backgroundImage]="'url(' + anime.poster + ')'"
    >
      <img class="poster" [src]="anime.poster" />
    </div>
    <div class="content">
      <ion-card-header>
        <div class="title">
          <span class="center-text">{{ anime.title }}</span>
        </div>
        <div class="spacer"></div>
        <div class="chips">
          <ion-chip *ngIf="anime.native" (click)="openEpisodeSelect($event)">
            Seen: {{ anime.episode }}/{{ anime.episodes }}
            <ion-icon
              name="add-circle-outline"
              color="dark"
              (click)="incrementEpisode($event)"
              *ngIf="permissions.includes('change episode') || admin"
            ></ion-icon>
          </ion-chip>
          <ion-chip *ngIf="anime.continuingSeries" color="tertiary">
            Continuing Series
          </ion-chip>
          <ion-chip *ngIf="anime.nsfw" color="danger">NSFW</ion-chip>
          <ion-chip *ngIf="!anime.continuingSeries">
            Votes: {{ anime.votes }}
          </ion-chip>
          <ion-chip
            class="voters"
            *ngIf="!anime.continuingSeries && voters.length > 0"
            (click)="openVoterDetails($event)"
          >
            <ion-avatar *ngFor="let voter of voters" class="voter">
              <img [src]="getGravatar(voter)" />
            </ion-avatar>
          </ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p class="synopsis">
          {{ anime.synopsis }}
        </p>
        <div class="spacer"></div>
        <ion-buttons>
          <ion-button
            *ngIf="
              !anime.continuingSeries && (admin || permissions.includes('vote'))
            "
            color="primary"
            fill="solid"
            size="large"
            (click)="votedFor ? rescind() : vote()"
            >{{ votedFor ? "Rescind" : "Vote" }}</ion-button
          >
          <ion-button
            *ngIf="
              (admin || permissions.includes('change cs')) &&
              !anime.continuingSeries
            "
            color="secondary"
            fill="solid"
            size="large"
            (click)="setAsCS()"
            >Set as Continuing Series</ion-button
          >
          <ion-button
            *ngIf="
              (admin || permissions.includes('remove from current')) &&
              anime.thisWeek
            "
            color="danger"
            fill="solid"
            size="large"
            (click)="remove()"
          >
            Remove
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </div>
  </div>
</ion-card>
