<ion-card>
  <div class="container">
    <img class="poster" [src]="anime.poster">
    <div class="content">
      <ion-card-header>
        <div class="title">
          <span class="center-text">{{anime.title}}</span>
        </div>
        <div class="spacer"></div>
        <div class="chips">
          <ion-chip *ngIf="anime.continuingSeries" color="secondary">Continuing Series</ion-chip>
          <ion-chip *ngIf="anime.nsfw" color="danger">NSFW</ion-chip>
          <ion-chip *ngIf="!anime.continuingSeries">Votes: {{anime.votes}}</ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p class="synopsis">
          {{anime.synopsis}}
        </p>
        <div class="spacer"></div>
        <ion-buttons>
          <ion-button *ngIf="!anime.continuingSeries" color="primary" fill="solid" size="large" (click)="vote()" [disabled]="votedFor">Vote</ion-button>
          <ion-button *ngIf="admin && !anime.continuingSeries" color="tertiary" fill="solid" size="large" (click)="setAsCS()">Set as Continuing Series</ion-button>
        </ion-buttons>
      </ion-card-content>
    </div>
  </div>
</ion-card>
