form {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
}

.column {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: min(100%, 600px);
  justify-content: center;
}
