.main-card {
  width: 600px;
  max-width: 100%;
  margin: auto;
}

.centerer {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .main-card {
    width: 600px;
    max-width: 100%;
    margin: 20px;
  }
}
