<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Reset Anime Votes</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label>Are you sure?</ion-label>
          <ion-checkbox
            name="confirm"
            required
            [(ngModel)]="forms.reset.confirm"
          ></ion-checkbox>
        </ion-item>

        <ion-buttons class="card-buttons">
          <ion-button (click)="resetVotes()" color="primary">Reset</ion-button>
        </ion-buttons>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Send Notification</ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
            name="title"
            [(ngModel)]="forms.notification.title"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Body</ion-label>
          <ion-input
            name="body"
            [(ngModel)]="forms.notification.body"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Channel</ion-label>
          <ion-select [(ngModel)]="forms.notification.channel">
            <ion-select-option value="all"> All </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-buttons class="card-buttons">
          <ion-button (click)="sendNotification()" color="primary">
            Send
          </ion-button>
        </ion-buttons>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Add User</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input
            name="username"
            [(ngModel)]="forms.newUser.username"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Admin</ion-label>
          <ion-checkbox
            name="admin"
            [(ngModel)]="forms.newUser.admin"
          ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Permissions</ion-label>
          <ion-select
            multiple="true"
            okText="Okay"
            cancelText="Dismiss"
            [(ngModel)]="forms.newUser.permissions"
          >
            <ion-select-option
              *ngFor="let permission of permissions"
              [value]="permission"
              >{{permission}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-buttons class="card-buttons">
          <ion-button (click)="newAccount()" color="primary">Submit</ion-button>
        </ion-buttons>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Add Custom Anime</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input
            name="title"
            [(ngModel)]="forms.customAnime.title"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Poster</ion-label>
          <ion-input
            name="poster"
            [(ngModel)]="forms.customAnime.poster"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Synposis</ion-label>
          <ion-textarea
            name="synopsis"
            [(ngModel)]="forms.customAnime.synopsis"
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>NSFW</ion-label>
          <ion-toggle
            name="nsfw"
            [(ngModel)]="forms.customAnime.nsfw"
          ></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Episodes</ion-label>
          <ion-input
            type="number"
            name="synopsis"
            [(ngModel)]="forms.customAnime.episodes"
          ></ion-input>
        </ion-item>
        <ion-buttons class="card-buttons">
          <ion-button (click)="addCustomAnime()" color="primary">
            Submit
          </ion-button>
        </ion-buttons>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>User Management</ion-card-title>
        </ion-card-header>
        <ion-item *ngFor="let user of users" button (click)="editUser(user)">
          <span>{{ user.username }}</span>
          <ion-icon slot="end" name="pencil"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Anime Management</ion-card-title>
        </ion-card-header>
        <ion-item *ngFor="let a of anime" button>
          <span>{{ a.title }}</span>
          <ion-icon slot="end" name="pencil"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
