<ion-list-header>Preferences</ion-list-header>
<ion-item button routerLink="/user" (click)="dismiss()">
  Profile
  <ion-icon slot="end" name="person-circle-outline"></ion-icon>
</ion-item>
<ion-item *ngIf="admin" button routerLink="/admin" (click)="dismiss()">
  Admin
  <ion-icon slot="end" name="key-outline"></ion-icon>
</ion-item>
<ion-item button (click)="switchTheme()">
  Use {{ theme == "dark" ? "Light" : "Dark" }} Theme
  <ion-icon slot="end" *ngIf="theme == 'dark'" name="sunny-outline"></ion-icon>
  <ion-icon slot="end" *ngIf="theme == 'light'" name="moon-outline"></ion-icon>
</ion-item>
<!-- <ion-item>
  Install App
  <ion-icon slot="end" name="download-outline"></ion-icon>
</ion-item> -->
<ion-item
  button
  (click)="toggleNotifications()"
  [disabled]="!showNotifications"
>
  {{ notificationsEnabled ? "Disable" : "Enable" }}
  Notifications
  <ion-icon
    *ngIf="!notificationsEnabled"
    slot="end"
    name="notifications-outline"
  ></ion-icon>
  <ion-icon
    *ngIf="notificationsEnabled"
    slot="end"
    name="notifications-off-outline"
  ></ion-icon>
</ion-item>
<ion-item button (click)="logOut()">
  Log Out
  <ion-icon slot="end" name="log-out-outline"></ion-icon>
</ion-item>
