<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div slot="start" class="start">
      <ion-title> コ<span class="desktop">ロナメ</span> </ion-title>
      <ion-searchbar
        animated
        [(ngModel)]="query"
        (ionChange)="search()"
      ></ion-searchbar>
    </div>
    <div slot="end" class="end desktop">
      <ion-chip>Votes: {{votesAvailable}}</ion-chip>
      <span class="username">{{username}}</span>
    </div>
    <div slot="end" class="end mobile">
      <ion-chip>{{votesAvailable}}</ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-listing *ngFor="let item of anime" [anime]="item"></app-listing>
</ion-content>
