.start {
  display: flex;
}

.end {
  margin-right: 15px;
}

.logo {
  cursor: pointer;
}

.mobile {
  display: none;
}

.spinner {
  display: flex;
  height: 100%;

  ion-spinner {
    margin: auto;
  }

  .empty-message {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}
