.start {
  display: flex;
}

.end {
  margin-right: 15px;
}

.username {
  padding-left: 10px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}
