<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div slot="start" class="start">
      <ion-title class="logo" (click)="reset()">コ<span class="desktop">ロナメ</span></ion-title>
      <ion-searchbar
        animated
        [(ngModel)]="query"
        (ionChange)="search()"
      ></ion-searchbar>
    </div>
    <ion-buttons slot="end" class="end desktop">
      <ion-chip>Votes: {{votesAvailable}}</ion-chip>
      <span class="username">{{username}}</span>
      <ion-button (click)="openUserPopover($event)">
        <ion-icon name="caret-down-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div slot="end" class="end mobile">
      <ion-chip (click)="openUserPopover($event)">{{votesAvailable}}</ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-listing *ngFor="let item of anime" [anime]="item"></app-listing>
  <div *ngIf="anime.length < 1" class="spinner">
    <ion-spinner *ngIf="!hasLoaded"></ion-spinner>
    <div class="empty-message" *ngIf="hasLoaded">
      <h1>Nothing's here...</h1>
      <p>Go vote on something! Search for any anime using the search bar above.</p>
    </div>
  </div>
</ion-content>
